.content__our_benefits-section {
    margin-top: 180px;
}

.content__our_benefits-section-title {
    text-align: center;
}

.content__out_benefits-section-tabs {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-auto-flow: column;
    
}