.footer {
    background: #1E212C;
}

.footer__content-wrapper {
    padding: 80px 0 60px;
}

.footer__content-container {
    display: flex;
    justify-content: space-between;
    gap: 40px 30px;
    flex-wrap: wrap;
}

// Info
.footer__info-wrapper {
    max-width: 279px;
    display: flex;
    flex-direction: column;
}

.footer__info {
    margin-top: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__socials-wrapper {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__social-link {
    display: flex;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}
// ...

.footer__section {
    display: flex;
    flex-direction: column;
}

.footer__section-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer__section-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer__section-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__list-wrapper {
    row-gap: 12px;
}

.footer__sign_up-wrapper {
    max-width: 286px;
}

.footer__sign_up-form {
    margin-top: 25px;
}

.footer__sign_up-info {
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer__copyright-wrapper {
    background: rgba($color: #FFFFFF, $alpha: 0.05);
    padding: 20px 0;
}

.footer__copyright-container {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    display: inline-flex;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;

    svg {
        margin-inline: 1ex;
    }
}

.footer__top-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}