.header {
    background-image: url("../img/header-background.svg");
    padding-top: 200px;
    padding-bottom: 80px;
}

.header__container {
    display: flex;
    flex-direction: column;
    row-gap: 189px;
    column-gap: 50px;
}

.header__main-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 71px;
    background-image: url("../img/illustration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.header__main-play_video-wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 40px;
}

.header__main-play_video-btn {
    display: flex;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.header__main-play_video-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #1e212c;
}

.header__main-title {
    max-width: 496px;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 60px;
    color: #1e212c;
    letter-spacing: 1px;
}

.header__main-buttons-wrapper {
    display: flex;
    column-gap: 24px;
    row-gap: 15px;
}

.header__statistics-wrapper {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}

.header__statistics-item {
    display: flex;
    column-gap: 12px;
    align-items: center;
    color: #1e212c;
    line-height: 160%;
    font-size: 16px;
}

.header__statistics-item-num {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}

@media screen and (max-width: 1160px) {
    .header__statistics-wrapper {
        grid-template-columns: repeat(5, auto);
    }

    .header__statistics-ellipse {
        &:nth-of-type(3) {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    .header__statistics-wrapper {
        grid-template-columns: repeat(2, auto);
    }

    .header__statistics-ellipse {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .header__main-title {
        font-size: 32px;
    }

    .header__statistics-wrapper {
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 410px) {
    .header__main-buttons-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}
