.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 10;
}

.nav__container {
    display: flex;
    gap: 60px;
    min-height: 52px;
    align-items: center;
}

.nav__open_menu-btn {
    display: none;

    svg path {
        fill: #ff3f3a;
    }
}

.nav__links-wrapper {
    display: flex;
    gap: 20px 40px;
}

.nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.nav__cta-wrapper {
    margin-left: auto;
    display: flex;
    gap: 20px 36px;
}

.nav__cta-account-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    display: flex;
    align-items: center;
    column-gap: 8px;

    svg path {
        fill: #424551;
    }
}

.nav__menu-background {
    display: none;
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
}

.nav--light {
    background-color: #1e212c;

    .nav__logo {
        content: url("../img/logo-light.svg");
    }

    .nav__link {
        color: #ffffff;
        opacity: 0.6;
    }
    .nav__cta-account-btn {
        color: #ffffff;
        opacity: 0.6;
        svg path {
            fill: #ffffff;
        }
    }
}

.nav:not(.nav--as_menu) {
    @media screen and (max-width: 1105px) {
        .nav__cta-account-btn {
            display: none;
        }
    }

    @media screen and (max-width: 935px) {
        .nav__links-wrapper {
            display: none;
        }

        .nav__cta-get_consultation-btn {
            display: unset;
        }

        .nav__open_menu-btn {
            display: flex;
            margin-right: -35px;
        }

        .nav__cta-account-btn span {
            display: unset;
        }
    }

    @media screen and (max-width: 500px) {
        .nav__cta-get_consultation-btn {
            display: none;
        }
    }
}

.nav--as_menu {
    padding-top: 60px;
    padding-bottom: 60px;
    right: auto;
    width: 300px;
    bottom: 0;

    .nav__menu-background {
        display: block;
    }

    .nav__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__open_menu-btn,
    .nav__logo {
        display: none;
    }

    .nav__links-wrapper {
        display: flex;
        flex-direction: column;
    }

    .nav__link {
        font-size: 24px;
    }

    .nav__cta-wrapper {
        margin-left: 0;
        flex-direction: column;
    }

    .nav__cta-account-btn {
        display: flex;
    }
}
