.tab {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;

    &:hover:not(.tab--actived) {
        svg path {
            fill: #424551;
        }

        span {
            color: #424551;
        }
    }
}

.tab svg {
    width: 16px;
    height: 16px;

    path {
        fill: #9a9ca5;
    }
}

.tab span {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
}

.tab--actived {
    border: 1px solid #ff3f3a;
    border-radius: 4px;

    svg path {
        fill: #ff3f3a;
    }

    span {
        color: #ff3f3a;
    }
}
