$gradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
$radius: 4px;
$width: 1px;

.btn {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    font-weight: 700;
    border-radius: $radius;
    height: 44px;
    line-height: 44px;
    padding: 0 32px;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.btn__large {
    height: 52px;
    padding: 0 40px;
    line-height: 52px;
    font-size: 16px;
}

.btn__solid {
    background-image: $gradient;
    color: white;

    &:disabled {
        opacity: 0.5;
    }
}

.btn__outline {
    outline: 1px solid #ff3f3a;
    outline-offset: -1px;
    color: #ff3f3a;

    &:hover {
        outline: none;
        background-image: $gradient;
        color: white;
    }

    &:disabled {
        opacity: 0.5;
    }
}
