* {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato";

    margin: 0;
    padding: 0;
}

body.no-scrolling-y {
    overflow-y: hidden;
}

.container {
    max-width: 1230px;
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

li {
    list-style: none;
}

img {
    padding: 0;
}

button {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
}

@import "components/buttons";

@import "components/nav";
@import "components/header";
@import "components/content";
@import "components/card";
@import "components/tab";
